.deposit-wrapper{
    padding: 25px;
    .deposit-container{
        border: 1px solid #28293f;
        border-radius: 10px;
        padding-bottom: 25px;
        position: relative;
        .deposit-sections{
            display: flex;
            .section-item{
                width: 50%;
                text-align: center;
                background-color: #28293f;
                padding: 10px 0;
                font-weight: 500;
                font-size: 16px;
            }
            .deposit{
                border-top-left-radius: 10px;
            }
            .buy{
                border-top-right-radius: 10px;
                text-decoration: line-through;
                opacity: 0.4;

            }
            .active{
                background: linear-gradient(to bottom, #5d73ef, #4355d9);
            }
        }
        .input-amount-wrapper{
            padding: 30px 0;
            display: flex;
            align-items: center;
            position: relative;
            padding-bottom: 10px;
            .amount{
                display: block;
                margin: 0 auto;
                background: transparent;
                width: 40%;
                height: 80px;
                text-align: center;
                font-size: 51px;
                border: 2px solid transparent;
                border-radius: 5px;
                
                &:focus{
                    border: 2px solid #28293f;
                }
                // Chrome, Safari, Edge, Opera
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                // Firefox
                -moz-appearance: textfield;
            }
            .currency{
                display: flex;
                align-items: center;
                padding: 5px 10px;
                position: absolute;
                right: 10px;
                gap: 6px;
                background-color: #28293f;
                border-radius: 10px;
                transition: 0.3s ease background;
                .currency-img{
                    margin-top: 2px;
                    height: fit-content;
                    height: 20px;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
                .currency-symbol{
                    font-size: 21px;
                    font-weight: 500;
                }
                &:active{
                    background: #191927;
                }
            }
        }
        .popular-amount-wrapper{
            display: flex;
            gap: 15px;
            overflow-x: auto;
            padding: 10px;
            padding-top: 0;
            .amount-item{
                background-color: #28293f;
                min-width: 80px;
                height: 60px;
                flex-basis: 1;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 500;
                transition: 0.3s ease background;
                cursor: pointer;
                &:active{
                    background: #191927;
                }
            }
        }
        .payment-methods{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
            margin-top: 20px;
            .payment-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                width: 49%;
                background-color: #28293f;
                padding: 20px 0;
                border-radius: 10px;
                border: 2px solid transparent;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                p{
                    font-weight: 500;
                }
            }
            .activeMethod{
                border: 2px solid #5d73ef;

            }
            .inactive{
                opacity: 0.4;
            }
        }
        .deposit-btn{
            width: calc(100% - 20px);
            background-color: #4158e0;
            padding: 14px 0;
            margin: 0 10px;
            border-radius: 10px;
            margin-top: 30px;
            font-size: 18px;
            font-weight: 600;
            transition: 0.3s ease background;
            cursor: pointer;
                &:active{
                    background: #1e2a74;
                }
        }
        .error{
            color: rgb(218, 44, 44);
            font-weight: 500;
            font-size: 11px;
            text-align: center;
            width: 100%;
            position: absolute;
            bottom: 6px;
            text-transform: none;
        }
    }
    .currencies{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}